@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
nav ul{
    list-style-type:none ;
}
.gamesContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-rows:repeat(3,10vw) ;
    grid-template-columns: repeat(3,10vw);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;

}
.box{
    border: 2px solid red;
    font-size: 8vw;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color: blueviolet;
}
.info{
    font-size: 25px;
}
.gameInfo{
    padding: 0 34px;
    font-family: 'Bowlby One SC', cursive;
}
.gameInfo h1{
    font-size: 2.5rem;
}
.imagebox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background: blanchedalmond;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
@media  screen and (max-width: 800px)
{
    .gamesContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
        
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-rows:repeat(3,10vw) ;
        grid-template-columns: repeat(3,10vw);
        
    
    }
}